/*#main-navbar{
  background-color: white
}*/

@font-face {
font-family: "arabesque";
src: url("./font/freebooterscript.ttf");
/*src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),*/
/*url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");*/
}

#logo-ifsttar{
  display: block;
  max-width:230px;
  max-height:50px;
  width: auto;
  height: auto;
}
.carousel-div{
  margin-top: 50px;
  margin-bottom: 50px
}

#carouselDraw > .carousel-inner{
  height: 300px;
  /*width: 150px;*/
}
#carouselFilter > .carousel-inner{
  height: 300px;
  /*width: 150px;*/
}

.subheader-title{
  text-align: center;
  font-size:25px;
}

p {
  text-align: justify;
}

h4 {
  text-align: justify;
  font-size: 1.5em
}

h3 {
  text-align: justify;
}
.navbar-brand{ 
  font-size: 1.5em;
  font-family: 'arabesque'; 
  font-weight: bolder}

#logo-div{
  background-color: #D2B48C;
  height: 50px;
  padding:10px;
}

.logo-title{ 
  color: white;
  font-size: 1.5em;
  font-family: 'arabesque'; 
  font-weight: bolder}


.home-title{
  font-size: 10em;
  font-family: 'arabesque';
  padding-bottom: 50px;
  color:#38291f;
  font-weight: 2px
}

.home-subtitle{
  font-size: 25px;
  padding-bottom: 50px;
  color:#38291f;
  text-align: center
}

body h1{
  /*font-family: 'arabesque';*/
  text-align: center;
}
.img-menu{
  height: 64px;
  width: 64px;
}
.img-menu2{
  max-height: 64px;
  /*width: 128px;*/
}

.showcase-bar{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 2px;
    border:0;
    border-top: 2px solid #624531;
    border-bottom: 2px solid #624531;
    margin-left: 0;
    margin-right: 0;
}

.menu-bar{
    width: 33%;
    margin-bottom: 0px;
    border:0;
    margin-top: 70px;
    border-top: 5px solid #624531;
    border-bottom: 5px solid #624531;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
}


.title-menu{
  margin-top: 45px ;
  margin-bottom: 45px ;

}
#main-navbar{
   background-color:#D2B48C;         
}
#main-navbar > a{
  color:white;
}



.title-font{
  /*font-size: 4em;*/
  color:#38291f;
  text-align: center;
  background-color:  #FFDEAD
/*    border-color: #624531;
  border-width: 0px;
  border-top-width: 10px;
  border-bottom-width: 10px;*/
  /*border-style: solid;*/
}
.navbar-brand{
  margin-left: 5%
}

#navbarNav{
  margin-left:  55%
}
.menu {
  display: block;
  width: 100%;
  height: 100%;
}

header{
padding-top: 8em; 
}

.subheader-title > a{
  color: white;
}

#gallery {
  border-color: #624531;
  border-width: 0px;
  border-bottom-width: 15px;
  border-style: solid;
  background-color: #FFDEAD;
  padding-bottom: 40px 
  /*height: 100%; */
}

#contributors {
  border-color: #624531;
  border-width: 0px;
  border-top-width: 15px;
  border-style: solid;
  background-color: #FFDEAD;
  padding-bottom: 40px 
  /*height: 100%; */
}


.ol-scale-line-inner{
  border: 1px solid !important;
    border-top-color: currentcolor !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
border-top: none !important;
color: black !important;
 /*text-shadow: 2px 2px white;*/
}

.ol-scale-line{
  background-color: rgba(236, 240, 241, .8) !important;
}


#credits {
  background-color: #624531;
  padding-top: 70px;
  height: 50%; 
}

#subheader {
  background-color: #624531;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 3em
}

#projet {
  padding-bottom: 45px;
  border-color: #624531;
  border-width: 0px;
  border-style: solid;
  background-color: #FFDEAD;
  padding-bottom: 40px 
  /*height: 100%; */
}

#contact {
  padding-bottom: 45px;
  border-color: #624531;
  border-width: 0px;
  border-top-width: 15px;
  border-bottom-width: 15px;
  border-style: solid;
  background-color: #FFDEAD;
  /*height: 100%; */
}
#credits h1{
  color: #fef1dd;
  padding-bottom: 5px; 
  border-color: #fef1dd;
  border-width: 0px;
  border-bottom-width: 8px;
  border-style: solid;
  text-align: center;
}

#information {
  padding-bottom: 45px;
  border-width: 0px;
  background-color: #FFDEAD;
  /*height: 100%; */
}

.rotate-north {
  top: 75px;
  left: .5em;
}

.rotate-print {
  top: 115px;
  left: .5em;
}

.rotate-center {
  top: 155px;
  left: .5em;
}

.rotate-refresh {
  top: 195px;
  left: .5em;
}

.ol-touch .rotate-north {
  top: 80px;
}

.fullscreen:-moz-full-screen {
  height: 100%;
  background-color: white;
}

.fullscreen:-webkit-full-screen {
  height: 100%;
}

.fullscreen:-ms-fullscreen {
  height: 100%;
}

.fullscreen:fullscreen {
  height: 100%;
}

.fullscreen {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.ol-rotate {
  top: 3em;
}

.ol-legend > ul{
  font-size: small;
}

.right_button {
  position: fixed;
  bottom: 50%;
  /*right: 0;*/
  padding: 0px;
  border: none;
  height: 50px;
  width: 40px;
  background-color: #38291f;
  cursor: pointer;
}

.ol-popup.tooltips {
  background-color: lightgrey !important;
  border-radius: 5px !important;
}

.btn-dark {
  background-color: #38291f !important;
  border: none;
}

.right_icon {
  width: 40px;
  height: 40px;
  border: none;
  color: #404040;
  z-index: 55;
  margin-top: 5px;
  margin-bottom: 5px;
}

.left_button {
  position: fixed;
  bottom: 50%;
  /*right: 0;*/
  padding: 0px;
  border: none;
  height: 50px;
  width: 40px;
  background-color: #38291f;
  cursor: pointer;
}

.left_icon {
  width: 40px;
  height: 40px;
  border: none;
  color: #404040;
  z-index: 55;
  margin-top: 5px;
  margin-bottom: 5px;
}

.map {
  width: 100%;
  height: 100%;
  float: left;
}

.card-header {
  border-color: #38291f !important;
}

.bar {
  background-color: #38291f
}

body {
  height: 100%;
  overflow-x: hidden;
  border-color: #38291f !important
}

#filterDiv {
  overflow-y: auto !important;
}

#layerLayout {
  overflow-y: auto !important;
  overflow-x: none !important;
}

#accordionLayerControl {
  overflow-y: visible !important;
}

.sidepanel {
  background: #1F6B75;
  width: 10%;
  height: 100%;
  float: left;
}

.sidepanel-title {
  width: 100%;
  font-size: 3em;
  color: #ffffff;
  display: block;
  text-align: center;
}

.ol-control.ol-legend .ol-legend {
  /*display: inline-block;*/
  padding-right: 3px !important;
}

.ol-control.ol-legend button {
  padding: 2px !important;
}

.ol-control {
  /*position: absolute;*/
  background-color: rgba(236, 240, 241, .8) !important;
}

.ol-control.ol-legend button.ol-closebox {
  top: 0;
  right: -2px;
}

.ol-attribution.ol-uncollapsible {
  padding-top: 0;
}

.ol-scale-line {
  left: auto !important;
  right: 8px !important;
  bottom: 25px !important;
}

html {
  height: 100%;
}

.glyph-icon svg {
  width: 16px;
  height: 16px;
}

.si-glyph * {
  fill: red;
}

.filter-bar {
  padding-top: 3px
}

.icon-button-ol {
  width: 16px;
  height: 16px;
  /*color:white;*/
  border: none;
  background: none;
}

.info-center{
  text-align: center;
  font-size: 26px;
  color:#38291f ;
  font-weight: bolder
}
.icon {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}

.icon-info {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
}

.popup-icon {
  width: 10px;
  height: 10px;
  border: none;
  background: none;
}

.icon-filter {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  border: none;
  background: none;
}

.small-icon {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  /*color:white;*/
}

#arrowSelector {
  border-right: 3px solid #F2F7F9
}

.card-body {
  background-color: #FFDEAD;
  border-color: #38291f;
}

#accordionLayerControl .card {
  background-color: white;
  border-color: #38291f;
}

#accordionLayerControl .card-header {
  border-color: #38291f;
  background-color: white;
  border-bottom-width: 4px;
}

.selected {
  background-color: #999;
}

.arrival {
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  /*overflow-y: */
  /*background-image:url("../../public/index.png");*/
}

.ramps {
  float: left;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

.bar rect {
  fill: steelblue;
}

.panel-heading {
  cursor: move;
}

.close {
  color: #38291f !important;
}

.card-header {
  color: #38291f !important;
}

.border-secondary {
  border-color: #38291f !important;
  border-size: 2px;
}

#title {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: 300;
}

#explanation {
  font-size: 12px;
  max-width: 620px;
  margin: 0 auto;
  padding-top: 10px;
  color: #ababab;
  font-weight: 300;
}

.y.axis line {
  fill: none;
}

.x.axis line {
  fill: none;
  stroke: #e0e0e0;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.resize {
  display: inline !important;
  /* show when empty */
  fill: #7A7A7A;
  fill-opacity: 1;
  stroke: #7A7A7A;
  stroke-width: 2px;
}

/*POPUP STYLE*/


      .ol-popup-click {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup-click:after, .ol-popup-click:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup-click:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup-click:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
